
/.vscode
/Anul I - Licenta/Semestrul II/Programare Orientata pe Obiecte/Colocviu/151_Minciunescu_VladAndrei/cmake-build-debug
/Anul I - Licenta/Semestrul II/Programare Orientata pe Obiecte/Colocviu/151_Minciunescu_VladAndrei/.idea
/Anul I - Licenta/Semestrul II/Structuri de Date/.idea
