@keyframes flashWhite {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

body {
  background-color: black;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.crop {
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.crop::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  pointer-events: none;
  opacity: 0;
}

.crop.flashing::after {
  animation: flashWhite 1.5s ease-out;
}

.crop img {
  margin: -30px 0 0 -20px;
  transform: scale(1);
}

#galleryContainer{
  width: 100%;
}

#gallery{
  display: flex;
  flex-wrap: wrap;
} 


