/* 
Înlocuiți simbolurile ? cu valori potrivite pentru 
a completa regulile CSS de mai jos.
*/

body {
  display: grid;
  min-height: 100vh;
  margin: 0;
  grid-template-rows: 1fr 5fr 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

main > nav, 
main > aside {
  background: #FAF4B7;
}

header {
  background: #CDF0EA;
}

article {
  background: #F9F9F9;
}

footer {
  background: #F6C6EA;
}

header, footer, article, nav, aside {
  padding: 1em;
}
