/* 
Înlocuiți simbolurile ? cu valori potrivite pentru 
a completa regulile CSS de mai jos.
*/

/* Definim variabile globale. */
:root {
  --color-black: #161616;
  --color-white: #fff;
  --size: 200px;
}

html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.cat {
  position: relative;
  height: var(--size);
  width: calc(var(--size) * 1.13);
}

.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: white;
}
	
.ear-left {
  left: -7%;
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-15deg);
}
	
.ear-right {
  right: -7%;
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(15deg);
}
	
.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 100%;
}

.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: var(--color-white);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}  
	
/* pleoape */
.eye::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50% / 0 0 40% 40%;
  background: var(--color-black);
  animation: blink 4s ease-in infinite;
}

/* blink twice if you love cats */	
@keyframes blink {
  0% { height: 0; }
  90% { height: 0; }
  92.5% { height: 100%; }
  95% { height: 0; }
  97.5% { height: 100%; }
  100% { height: 0; }
}
	
/* colțurile ochilor */
.eye::before {
  content: '';
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background: white;
  border-radius: 100%;
}

.eye-left {
  left: 0;
}  

.eye-left::before {
  right: -5%;
}

.eye-right {
  right: 0;
}	
.eye-right::before {
  left: -5%;
}


/* pupile */
.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: var(--color-black);
  border-radius: 50%;
  animation: look-around 4s infinite;
}

.eye-left .eye-pupil {
  right: 30%;
}	
.eye-right .eye-pupil {
  left: 30%;
}
	
@keyframes look-around{
  0% { transform: translate(0); }
  5% { transform: translate(50%, -25%); }
  10% { transform: translate(50%, -25%); }
  15% { transform: translate(-100%, -25%); }
  20% { transform: translate(-100%, -25%); }
  25% { transform: translate(0, 0); }
  100% { transform: translate(0, 0); }
}

		
/* lumină din pupilă */
.eye-pupil::after {
  content: '';
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 100%;
  background: white;
}

/* năsuc */
.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: #FFC0CB;
  transform: translateX(-10px);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}
